<h2>Hello to PizzaShop</h2>
<%= @items %>
<div class="card-deck">

    <%@products.each do |p|%>

        <div class="col-md-4">
            <img src="<%=p.path_to_image%>" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title"><%=p.title%></h5>
                <p class="card-text"><%=p.description%></p>
                <p class="card-text">Size: <%=p.size%> cm</p>            
                <p class="card-text">Price: <%=p.price%> rub</p>
                <a href="#" class="btn btn-success" onClick="add_to_cart(<%=p.id%>)">Add to cart</a>
            </div>
        </div>

    <%end%>
    
</div>
